[workspace]
members = ["bin/validator", "bin/witness-decoder", "validate"]
resolver = "2"

[workspace.dependencies]
# alloy
alloy-eips = { version = "1.0.23", default-features = false }
alloy-primitives = { version = "1.3.0", default-features = false }
alloy-provider = { version = "1.0.23", features = [
    "reqwest",
], default-features = false }
alloy-rpc-types-eth = { version = "1.0.23", default-features = false }
alloy-evm = { version = "0.15.0", default-features = false }
alloy-hardforks = { version = "0.2.7" }
alloy-consensus = { version = "1.0.23", default-features = false }
alloy-rlp = { version = "0.3.10", default-features = false }
alloy-network-primitives = { version = "1.0.23", default-features = false }

# op
op-alloy-network = { version = "0.18.12", default-features = false }
alloy-op-hardforks = "0.2.2"
alloy-op-evm = { version = "0.15.0", default-features = false }
op-alloy-consensus = { version = "0.18.12", default-features = false }
op-alloy-rpc-types = { version = "0.18.12", default-features = false }
op-revm = { version = "8.1.0", default-features = false }

revm = { version = "27.1.0", default-features = false }

salt = { git = "https://github.com/megaeth-labs/salt.git", branch = "main" }
mega-evm = { git = "https://github.com/megaeth-labs/mega-evm.git", rev = "5c7b39dfb5d7890cc5cbf1d1080af808ce2fd187" }

bincode = { version = "2.0", features = ["serde"] }
blake3 = "1.8"
clap = { version = "4.5", features = ["derive"] }
eyre = "0.6"
fs2 = "0.4"
futures = "0.3"
jsonrpsee = { version = "0.26", features = ["server", "macros"] }
jsonrpsee-types = { version = "0.26" }
num_cpus = "1.17"
rand = "0.9"
serde = { version = "1.0", default-features = false }
serde_json = "1.0"
simd-json = "0.15"
tokio = { version = "1.46", features = ["rt-multi-thread", "macros", "signal"] }
tracing = "0.1"
tracing-subscriber = { version = "=0.3.20", features = ["fmt"] }

[profile.bench]
debug = true
opt-level = 3
debug-assertions = true
incremental = true

[profile.release]
opt-level = 3
debug = true
debug-assertions = true
incremental = true


[profile.test]
opt-level = 3
debug-assertions = true
incremental = true
debug = true
