name: unit-test
on:
  workflow_call:
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: read

jobs:
  unit_test:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT_GAO_CI }}
      - name: Configure Git credentials
        uses: ./.github/actions/git_config
        with:
          github_pat: ${{ secrets.PAT_GAO_CI }}

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Run  Test
        run: |
          cargo test --package stateless-validator --bin stateless-validator --all-features -- tests --show-output
